body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}

h1{
    color: #66bfbf;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    line-height: 2;
}

h2{
    color: #66bfbf;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;  
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

.top-container{
    background-color: #7978FF;
    position: relative;
    padding-top: 100px;
   
}

.middle-container{
    
}

.bottom-container{

}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile_pic{
    height: 150px;
    width: 25%;
    margin-top: 10px; 
}

.skill-row{
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}

.responsive-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.hacker-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}